body {
  padding-top: 70px;
  font-family: 'Concourse','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Concourse','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-size: 32px;
  line-height: 22px;
}

/*
 * Side navigation from bootstrap
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
/*  display: none; /* Hide by default, but at >768px, show it */*/
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}


.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron h1.snuggle {
  margin: 0 0 20px 0;
  line-height: 24px;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}


/* index.html */

a.list-group-item span.badge {
  margin-top: 5px;
}
a.list-group-item img {
  margin: -5px 5px 0 -5px;
}

/* FONTS */


@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t8_italic-webfont.eot');
    src: url('assets/fonts/concourse_t8_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t8_italic-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t8_italic-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t8_italic-webfont.svg#concourse_t8italic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t7_italic-webfont.eot');
    src: url('assets/fonts/concourse_t7_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t7_italic-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t7_italic-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t7_italic-webfont.svg#concourse_t7italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t6_italic-webfont.eot');
    src: url('assets/fonts/concourse_t6_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t6_italic-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t6_italic-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t6_italic-webfont.svg#concourse_t6italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t6_italic-webfont.eot');
    src: url('assets/fonts/concourse_t6_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t6_italic-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t6_italic-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t6_italic-webfont.svg#concourse_t6italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t4_italic-webfont.eot');
    src: url('assets/fonts/concourse_t4_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t4_italic-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t4_italic-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t4_italic-webfont.svg#concourse_t4italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t3_italic-webfont.eot');
    src: url('assets/fonts/concourse_t3_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t3_italic-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t3_italic-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t3_italic-webfont.svg#concourse_t3italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t2_italic-webfont.eot');
    src: url('assets/fonts/concourse_t2_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t2_italic-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t2_italic-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t2_italic-webfont.svg#concourse_t2italic') format('svg');
    font-weight: 200;
    font-style: italic;
}


@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t8_regular-webfont.eot');
    src: url('assets/fonts/concourse_t8_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t8_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t8_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t8_regular-webfont.svg#concourse_t8regular') format('svg');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t7_regular-webfont.eot');
    src: url('assets/fonts/concourse_t7_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t7_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t7_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t7_regular-webfont.svg#concourse_t7regular') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t6_regular-webfont.eot');
    src: url('assets/fonts/concourse_t6_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t6_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t6_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t6_regular-webfont.svg#concourse_t6regular') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t6_regular-webfont.eot');
    src: url('assets/fonts/concourse_t6_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t6_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t6_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t6_regular-webfont.svg#concourse_t6regular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t4_regular-webfont.eot');
    src: url('assets/fonts/concourse_t4_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t4_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t4_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t4_regular-webfont.svg#concourse_t4regular') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t3_regular-webfont.eot');
    src: url('assets/fonts/concourse_t3_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t3_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t3_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t3_regular-webfont.svg#concourse_t3regular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_t2_regular-webfont.eot');
    src: url('assets/fonts/concourse_t2_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_t2_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_t2_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_t2_regular-webfont.svg#concourse_t2regular') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_c8_regular-webfont.eot');
    src: url('assets/fonts/concourse_c8_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_c8_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_c8_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_c8_regular-webfont.svg#concourse_c8regular') format('svg');
    font-weight: 800;
    font-style: normal;
    font-variant:small-caps;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_c7_regular-webfont.eot');
    src: url('assets/fonts/concourse_c7_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_c7_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_c7_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_c7_regular-webfont.svg#concourse_c7regular') format('svg');
    font-weight: 700;
    font-style: normal;
    font-variant:small-caps;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_c6_regular-webfont.eot');
    src: url('assets/fonts/concourse_c6_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_c6_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_c6_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_c6_regular-webfont.svg#concourse_c6regular') format('svg');
    font-weight: 600;
    font-style: normal;
    font-variant:small-caps;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_c6_regular-webfont.eot');
    src: url('assets/fonts/concourse_c6_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_c6_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_c6_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_c6_regular-webfont.svg#concourse_c6regular') format('svg');
    font-weight: bold;
    font-style: normal;
    font-variant:small-caps;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_c4_regular-webfont.eot');
    src: url('assets/fonts/concourse_c4_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_c4_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_c4_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_c4_regular-webfont.svg#concourse_c4regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-variant:small-caps;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_c3_regular-webfont.eot');
    src: url('assets/fonts/concourse_c3_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_c3_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_c3_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_c3_regular-webfont.svg#concourse_c3regular') format('svg');
    font-weight: 300;
    font-style: normal;
    font-variant:small-caps;
}

@font-face {
    font-family: 'Concourse';
    src: url('assets/fonts/concourse_c2_regular-webfont.eot');
    src: url('assets/fonts/concourse_c2_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/concourse_c2_regular-webfont.woff') format('woff'),
         url('assets/fonts/concourse_c2_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/concourse_c2_regular-webfont.svg#concourse_c2regular') format('svg');
    font-weight: 200;
    font-style: normal;
    font-variant:small-caps;
}
